@model IEnumerable<SGA_Solution.Models.Articulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Artículos</h1>

<p>
    <a asp-action="Create" class="btn btn-danger">Registrar Nuevo Artículo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Artículo
            </th>
            <th>
                Cantidad en Stock
            </th>
            <th>
                Precio Unitario
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.PrecioU)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
        </tr>
}
    </tbody>
</table>
