@model SGA_Solution.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario1)
        </dd>
        <dt class = "col-sm-2">
            Nombre(s)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Apellido Materno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoM)
        </dd>
        <dt class = "col-sm-2">
            Apellido Paterno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoP)
        </dd>
        <dt class = "col-sm-2">
            Tipo de Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
</div>
<div>
    <p><a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-danger">Editar</a></p>
    <p><a asp-action="Index" class="btn btn-danger">Regresar</a></p>
</div>
