@model IEnumerable<SGA_Solution.Models.Movimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Movimientos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
                <td>
                    <a asp-action="Details@(item.Tipo)" asp-route-id="@item.Id" class="btn btn-danger">Detalles</a>
                </td>
        </tr>
}
    </tbody>
</table>
